# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/
env/
.env_venv/

# Databases
*.db
*.sqlite
*.sqlite3

# Celery
celerybeat-schedule*

# Environment
.env
.env.local
.env.*.local

# Uploads
uploads/

# IDEs & OS files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
